<div class="footer centered container">
  <img src="{{ site.url }}/images/logo.png" />
  <p>6500 S Padre Island Dr #19, Corpus Christi, TX 78412 - <a href="tel:3619464052">(361) 946-4052</a></p>
  <div class="footer-links">
    <a href="{{ site.url }}">Home</a>
    <a href="{{ site.url }}/about">About</a>
    <a href="{{ site.url }}/classes">Classes</a>
    <a href="{{ site.url }}/videos">Videos</a>
    <a href="{{ site.url }}/press">Press</a>
    <a href="{{ site.url }}/contact">Contact</a>
</div>
<div class="centered" style="margin: 2em;">
  <a href="https://www.facebook.com/Hourglass-Bellydance-Studio-128096677236090/">Find us on Facebook!  <i class="fa fa-facebook-official" aria-hidden="true" style="margin-left: 20px;"></i></a>
</div>
