<ul>
		{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" class="animsition-link" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
  {% endfor %}
	<li><a href="https://www.facebook.com/Hourglass-Bellydance-Studio-128096677236090/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
</ul>
