body {
    margin: 0px;
    background-image: url("/images/43242.jpg");
    background-attachment: fixed;
}

@media screen and (max-width: 640px) {
  body {
    text-align: center;
  }

}

img {
  max-width: 100%;
}
.wrapper {
    width: 90%;
    max-width: 1500px;
    float: none;
    margin: 0px auto;
    box-shadow: 0px 0px 50px $purple;
    margin-bottom: 4em;
}


#default {
  background-color: $pink;
}

#videos {
  background-color: $green;
}

ul, li {
    list-style: none;
}

hr {
  margin: 4em 0px;
}

a:hover {
  color: $pink;
}

.container {
  padding: 7em;
}

.centered {
  text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.button {
    background: green;
    padding: 0.75em 1.2em;
    border: 1px solid #fff;
}

a.button {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.twenty {
  width: 20%;
}

.twenty-five {
  width: 25%;
}

.thirty {
  width: 30%;
}

.thirty-five {
  width: 35%;
}

.forty {
  width: 40%;
}

.fifty {
  width: 50%;
}

.sixty {
  width: 60%;
}

.seventy-five {
  width: 75%;
}

@media screen and (max-width: 640px) {
.twenty, .twenty-five, .thirty, .thirty-five, .forty, .fifty, .sixty, .seventy-five { width: 100%;}

.no-display {
    display: none;
}

}

.videos {
  display: flex;
  flex-wrap: wrap;
}

.video {
  width: 50%;
  margin-bottom: 2em;

  h3 {
    margin: 0px;
  }
}

@media screen and (max-width: 640px) {
  .video {
    width: 100%;
  }
}


// FONTS //

h1, h2, h3, h4, h5, h6 {
font-family: $heading-font;
color: $yellow;
font-weight: 300;
margin-top: 0;
}



body {
font-family: $body-font;
color: $tan;
font-weight: 400;
}

p {
    line-height: 1.45;
    letter-spacing: 0.04em;
    font-weight: 400;
    margin-bottom: 1.5em;
}

a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}



h1 {
    font-size: 3.5em;
    margin-bottom: 1em;
}

h3 {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

h4 {
    font-family: $body-font;
    color: $tan;
    font-size: 1.65em;
    margin-bottom: 1.5em;
    line-height: 1.35;
}

h5 {
    font-size: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 1.3em;
    line-height: 1.65;
}

h6 {
  font-family: $body-font;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 1.3em;
}





// HEADER //

header {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    z-index: 100;
    position: relative;
    padding-bottom: 0.5em;
    float: none;
    margin: 0px auto;
}

.brand {
    width: 40%;

    a {
        text-decoration: none;
        font-size: 2em;
        padding: 0px;
        color: $yellow;
        font-family: $heading-font;
        text-shadow: 0px 0px 16px $purple;
    }
}

nav {
    float: right;
    width: 60%;


    ul {
        margin: 0px;
        list-style: none;
        float: right;
        display: flex;
        line-height: 6;
    }

    li {
        padding: 0px 1em;
    }

    a {
    color: $tan;
    text-decoration: none;
    letter-spacing: 1.3px;
    font-size: 1em;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px $purple;
    font-weight: 600;
}

    a:hover {
      color: $pink;
    }
}



// HOME //



.hero {
    display: flex;
    height: 65vh;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-image: url(/images/hourglass-group-photo.png);
    background-size: cover;
    background-position: center 10%;


    h1 {
      color: $green;
    }
}

.hero--inner {
    float: none;
    margin: -6em auto 0px;
}


#lorrie {
      float: none;
      margin-left: auto;
      margin: 0 2em;


    h4 {
      font-size: 1.5em;
      margin-top: 0.5em;
    }
}

#hero--address {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    letter-spacing: 1px;

    p {
      margin-bottom: 1em;
    }
}


#welcome {
    background: $pink;
    display: flex;
    margin-top: -10px;

    p {
      color: $pink-light;
    }
}

#lucky-woman {
    background: $purple;

    h3 {
      color: $tan;
    }
}



#lucky-woman--left {
    width: 100%;
    z-index: 2;
    position: relative;
    color: $yellow;
}

#lucky-woman--right {
    color: red;
}

#welcome--right {
  width: 60%;
}

#featured {
  background: $red;
}

#links {
    background: $yellow;
    margin: 0px;
    display: flex;
    font-size: 1.5rem;

  li {
      width: 33%;
      text-align: center;
    }

  a, h5 {
    color: $purple;
  }

  a {
    font-weight: 600;
  }

  a:hover {
    color: $blue;
  }
}

.hero h1 {
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 0px 16px #000;
}

#hero--address {
    background: $purple;
}

hero--address p {
    line-height: 0.75;
}



// ABOUT //

#about {
    background: $purple;
}





.photo-panel {
  display: flex;
}

.photo-panel-inner {
    height: 20em;
    background-size: cover;
    background-position-y: 60%;
}


@media (max-width: 640px) {
.photo-panel-inner {
    height: 18em;
    background-position: center center;
}
}

.studio {
    display: flex;
    background: $pink;
}

.studio--images {
    width: 55%;
}


.studio--images img {
    max-width: 48%;
    padding-bottom: 0px;
}



.studio--text {
    padding: 0 3em;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}



// CLASSES //

.class {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $purple;
    background-blend-mode: darken;
}

.classes {
    background: $blue;

    h3 {
        border-bottom: 1px solid $tan;
        padding-bottom: 0.3em;
        font-family: $body-font;
        letter-spacing: 2px;
        font-weight: 600;
        margin-bottom: 1em;
        margin-top: 1.5em;
    }

    h4 {
      color: $tan;
      margin-bottom: 0.3em;
    }

    h6 {
      color: $tan;
      letter-spacing: 0.02em;
      text-transform: none;
      font-size: 1em;
    }

    p {
      color: #fff;
    }
}


.classes--day {
    display: flex;
    justify-content: space-between;
        flex-wrap: wrap;
}

.classes--class {
    width: 49%;
}


.tuition {
  background-color: $pink;

  .flex div {
    width: 47%;
  }

  h1 {
    margin-top: 0;
  }
}


.footer {
    background: $blue;
    align-items: center;

 p {
   color: $yellow;
 }
}

.footer-links a {
    padding: 10px;
}

a.button {
    font-family: $heading-font;
    text-transform: none;
    font-weight: 600;
    background: $red;
    color: white;
    border: 0px;
}



@media screen and (max-width: 1350px) {

#lorrie {
    display: flex;
    margin-bottom: 2em;
}


#lorrie h1 {
    margin-right: 20px;
}

}


@media screen and (max-width: 960px) {


.brand {
    width: 100%;
    text-align: center;
}

nav {
    width: 100%;
    text-align: center;
}

nav ul {
    float: none;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
}

nav li {
    float: none;
    margin: 0px auto;
    font-size: 0.8em;
    margin-top: 1em;
}

.hero {
    height: 80vh;
}

.hero--inner {
    padding: 3em;
}

.container {
    padding: 3em 2em;
}

#welcome--left {
    width: 100%;
}


#links li {
    width: 100%;
}

#links {
    flex-wrap: wrap;
}

body.home {
    background-size: cover;
}

#lorrie {
    margin: 0px;
}

h3 {
    margin-bottom: 0.75em;
}

#lucky-woman h3 {
    font-size: 1.4rem;
}

.footer img {
    max-width: 100%;
}

.welcome.container {
    padding: 3em 2em;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 0.9em;
    line-height: 1.7;
}

h6 {
    font-size: 0.8em;
}

.studio {
    padding: 2em;
    flex-wrap: wrap;
}

.studio--images img {
    max-width: 100%;
    padding-bottom: 20px;
}

.studio--images {
    width: 100%;
}

.studio--text {
  padding: 0;
  width: 100%;
}

.tuition .flex div {
    width: 100%;
    padding-top: 2em;
}

.classes--class {
    width: 100%;
}

#hero--address p {
    max-width: 100%;
    padding: 0 1em;
}

.hero {
    height: 85vh;
}

}

@media screen and (max-width: 640px) {

  nav ul {
    line-height: 4;
    flex-wrap: wrap;
}

nav li {
    margin-top: 0px;
    padding: 0px 0.5em;
}


  body.home {
    background-size: cover;
    background-position: center bottom;
}

.hero {
    height: 30vh;
}

#hero--address {
    margin-bottom: -10px;
}

#lorrie {
    display: block;
    margin-bottom: 2em;
    text-align: center;
}

div#welcome--right {
    width: 100%;
}

#lorrie h1 {
    margin-right: 0px;
}
}
