body {
    margin: 0px;
}

ul, li {
    list-style: none;
}


a:hover {
  color: $pink;
}

.container {
  padding: 6em;
}

.centered {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
    background: green;
    padding: 0.75em 1.2em;
    border: 1px solid #fff;
}

a.button {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}


// FONTS //

h1, h2, h3, h4, h5, h6 {
font-family: 'Cormorant', Serif;
color: $yellow;
font-weight: 300;
}

body {
font-family: 'Alegreya Sans', sans-serif;
color: #fff;
font-weight: 300;
}

p {
    line-height: 1.45;
    letter-spacing: 0.04em;
}

a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}



h1 {
    font-size: 3.5em;
}

h3 {
    font-size: 2em;
    line-height: 1.5em;
}

h4 {
  font-size: 1.75em;
}


h5 {
    font-size: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}

h6 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 0.6em;
}






// HEADER //

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    z-index: 100;
    position: relative;
}

.brand {
    width: 30%;

    a {
        text-decoration: none;
        font-size: 2em;
        padding: 0px 1em;
        color: #fff;
        font-family: 'Cormorant', Serif;
        text-shadow: 0px 0px 16px $purple;
    }
}

nav {
    float: right;
    width: 70%;


    ul {
        margin: 0px;
        list-style: none;
        float: right;
        display: flex;
        line-height: 2.5em;
    }

    li {
        padding: 0px 1em;
    }

    a {
        color: #fff;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
    }

    a:hover {
      color: $pink;
    }
}



// HOME //

body.home {
  background-image: url("http://localhost:4000/images/hourglass-bellydance-bg-2.jpg");
  background-size: 100%;
  background-position: left 15%;
  background-attachment: fixed;
}

.hero {
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    h1 {
      color: $green;
      margin-bottom: 1.5em;
    }
}

.hero--inner {
    float: none;
    margin: -6em auto 0px;
}


#lorrie {
    margin-right: 15%;
    width: 400px;
    float: none;
    margin-left: auto;

    h4 {
      font-size: 1.5em;
      margin-top: 0.5em;
    }
}

#hero--address {
    width: 100%;
    position: absolute;
    bottom: 0px;
    letter-spacing: 1px;
}


#lucky-woman {
    background: $pink;
    padding: 6em;
}


#lucky-woman--left {
    width: 100%;
    z-index: 2;
    position: relative;
    color: $yellow;
}

#lucky-woman--right {
    color: red;
}



#links {
    background: $yellow;
    margin: 0px;
    display: flex;
    font-size: 1.5rem;

  li {
      width: 33%;
      text-align: center;
    }

  a, h5 {
    color: $purple;
  }

  a {
    font-weight: 600;
  }

  a:hover {
    color: $blue;
  }
}

.hero h1 {
    font-weight: 600;
    color: gold;
    text-shadow: 0px 0px 16px $purple;
}

#hero--address {
    background: $purple;
}

.hero {
    height: 90vh;
}

hero--address p {
    line-height: 0.75;
}



// ABOUT //

.about {
    background: $purple;
}





.photo-panel {
  display: flex;
}

.photo-panel-inner {
    height: 20em;
    background-size: cover;
    background-position-y: 60%;
}



.studio {
    display: flex;
    background: $pink;
}


.studio--images {
  width: 40%;

  img {
    max-width: 460px;
    display: block;
    padding-bottom: 3em;
  }
}

.studio--text {
    padding: 0 3em;
    width: 60%;
}


// CLASSES //

.class {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $purple;
    background-blend-mode: darken;
}

.classes {
    background: $blue;

    h3 {
        border-bottom: 1px solid #fff;
        padding-bottom: 0.3em;
        font-family: 'Alegreya Sans', sans-serif;
        letter-spacing: 2px;
        font-weight: 600;
    }

    h6 {
      color: darkturquoise;
    }
}

.classes--day {
    display: flex;
    justify-content: space-between;
        flex-wrap: wrap;
}

.classes--class {
    width: 49%;
}


.tuition {
  background-color: $pink;

  .flex div {
    width: 47%;
  }

  h1 {
    margin-top: 0;
  }
}

.class .photo-panel-inner {
  height: 26em;
  background-position-y: 4%;
}



.footer {
    background: $blue;
    align-items: center;

 p {
   color: $yellow;
 }
}


a.button {
    font-family: 'cormorant';
    text-transform: none;
    font-weight: 600;
    background: $blue;
    color: white;
    border: 0px;
}
