/* Coolors Exported Palette - coolors.co/bf1a2f-f00699-6137ba-00821c-ffcc00 */

/* HSL */
$blue: hsla(229%, 100%, 28%, 1);
$blue-dark: darken( $blue, 30% );
$blue-light: lighten( $blue, 30% );

$orange: hsla(45%, 100%, 45%, 1);
$orange-dark: darken( $orange, 30% );
$orange-light: lighten( $orange, 30% );

$pink: hsla(320%, 100%, 47%, 1);;
$pink-dark: darken( $pink, 30% );
$pink-light: lighten( $pink, 30% );

$red: hsla(0%, 100%, 34%, 1);
$red-dark: darken( $red, 30% );
$red-light: lighten( $red, 30% );

$green: hsla(146%, 100%, 25%, 1);
$green-dark: darken( $green, 30% );
$green-light: lighten( $green, 30% );

$purple: hsla(278%, 100%, 37%, 1);
$purple-dark: darken( $purple, 30% );
$purple-light: lighten( $purple, 30% );

$yellow: hsla(48%, 100%, 50%, 1);
$yellow-dark: darken( $yellow, 30% );
$yellow-light: lighten( $yellow, 30% );

$tan: hsla(36%, 87%, 88%, 1);


$body-font:'Alegreya Sans', sans-serif;
$heading-font: 'Cormorant', serif;
