/* Coolors Exported Palette - coolors.co/bf1a2f-f00699-6137ba-00821c-ffcc00 */

/* HSL */
$red: hsla(352%, 76%, 43%, 1);
$pink: hsla(322%, 95%, 48%, 1);
$purple: #9C009B;
$green: hsla(133%, 100%, 25%, 1);
$yellow: hsla(48%, 100%, 50%, 1);
$blue: #1C5FEC;

/* RGB */
$red: rgba(191, 26, 47, 1);
$pink: rgba(240, 6, 153, 1);
$green: rgba(0, 130, 28, 1);
$yellow: rgba(255, 204, 0, 1);
