<!DOCTYPE html>
<html>
{% include head.html %}
<body id="js-body">
  {% include header.html %}
  <div class="wrapper" id="about">
    <div class="photo-panel">
      <div class="photo-panel-inner seventy-five" style="background-image: url('{{ site.url }}/images/hourglass-bellydance-2.jpg');">&nbsp;</div>
      <div class="photo-panel-inner twenty-five no-display" style="background-image: url('{{ site.url }}/images/hourglass-bellydance-11.jpg');">&nbsp;</div>
    </div>
  <div class="welcome container">
    <h1>Welcome to Hourglass Bellydance!</h1>
    <div class="welcome--inner">
      <p>I'm glad you are here!  My name is Lorrie Pierce and I am the owner and director of Hourglass Bellydance.  I want your experience at Hourglass to be a positive one, so here is a little information about classes.</p>
      <p>The first time you come to class, please arrive about five or ten minutes early.  I will ask you to sign a short release which will also serve as your registration form should you decide to continue. You can consider your first class a try out class. If at the end of class, you decide it's just not for you, the fee is $10, but if you would like to continue, you are good to go.</p>
      <p>Wear anything you can comfortably move and stretch in. Students wear all sorts of things like stretch pants, leggings, tank and crop tops, etc. We usually dance barefoot, but if you would like to wear a sock or dance shoe, that is fine as well.  I provide coined hip wraps for in class practice.</p>
      <p>If you are new to belly dance, you will begin with a twelve week start up series called the <a href="#">Fundamentals of Bellydance.</a>  Please <a href="#">click here</a> for information about those classes.</p>
      <p>Our studio is located between Airline and Nile on South Padre Island Drive, across from Century 16 Theaters. The address is 6500 SPID, Suite #19.</p>
      <p>If you have any questions, don't hesitate to give me a call at 361-946-4052 or email me at lorrie@hourglassbellydance.com. I do so love this dance and look forward to sharing it with you!</p>
      <h5>- Lorrie Pierce, <em>Director</em></h5>
    </div>
  </div>
  <div class="photo-panel">
    <div class="photo-panel-inner thirty" style="background-image: url('{{ site.url }}/images/hourglass-bellydance-22.jpg'); background-position: center 20%;">&nbsp;</div>
    <div class="photo-panel-inner fifty no-display" style="background-image: url('{{ site.url }}/images/hourglass-bellydance-16.jpg');">&nbsp;</div>
    <div class="photo-panel-inner twenty no-display" style="background-image: url('{{ site.url }}/images/hourglass-bellydance-8.jpg');">&nbsp;</div>
  </div>
  <div class="studio container">
    <div class="studio--images">
      <img src="{{ site.url }}/images/DSC01765.jpg">
      <img src="{{ site.url }}/images/DSC01769.jpg">
    </div>
    <div class="studio--text">
      <div class="full-width">
        <h3>The Hourglass Bellydance studio is located in Corpus Christi, TX.</h3>
      </div>
      <div class="fifty">
        <h6>Location:</h6>
        <p>6500 S Padre Island Dr #19<br /> Corpus Christi, TX 78412</p>
      </div>
      <div class="fifty">
        <h6>Phone:</h6>
        <p>(361) 946-4052</p>
      </div>
      <div class="full-width">
        <h6>Mission Statement:</h6>
        <p>Hourglass Bellydance is a school of Middle Eastern and American style belly dance offering a variety of classes for women of all ages.  We serve the beginner through advanced student and provide performance opportunities for all.  Our classes are friendly and fun, of the highest quality and stress the importance of proper belly dance technique.  We believe belly dance to be an enjoyable way to gain health, both spiritually and physically.  Our goal is to provide an opportunity for women from all walks of life to learn and experience the art of belly dance while improving self-esteem through reconnection with their femininity and sensuality.</p>
    </div>
  </div>
</div>
  {% include footer.html %}
</div>
  </body>
</html>
