<!DOCTYPE html>
<html>
{% include head.html %}
<body id="js-body" class="class">
  {% include header.html %}
  <div class="photo-panel" style="margin-top:-70px;">
    <div class="photo-panel-inner" style="background-image: url('{{ site.url }}/images/10308437_721203447925407_1651337646715879580_n.jpg'); width: 60%;">&nbsp;</div>
    <div class="photo-panel-inner" style="background-image: url('{{ site.url }}/images/12002953_954084941303922_1396574681810447075_n.jpg'); width: 40%;">&nbsp;</div>
  </div>
  <div class="tuition container">
    <h1>Come take a class!</h1>
    <h6>Tuition:</h6>
    <div class="flex flex-wrap">
      <div>
        <h5>Beginner through Advanced Classes</h5>
        <p>Classes are always only $10/class. Students may purchase a class card for as many classes as they like. Cards are kept at the studio and stamped with a dated stamp each time the student attends class.</p>
        <h6>Cash, checks and credit cards accepted.</h6>
      </div>
      <div>
        <h5>Taking your first class?</h5>
        <p>Fundamentals of Bellydance - This twelve week series is for students new to belly dance and costs $100 for dancers who pay the first day of class.  That is a $20 discount.  Students who begin class during weeks two through six, and pay for the remainder of the series are charged $9/class.  After the sixth week, students are charged $10/class. Dancers can consider their first class a try out class.  If at the end of class, if they decide it's just not for them, the fee is $10, but if they want to continue, they are good to go!</p>
      </div>
    </div>
  </div>
  <div class="classes container">
    <h1>Class Schedule</h1>
    <h3>Mondays</h3>
    <div class="classes--day"><div class="classes--class"><h5>Intermediate Class</h5>
    <h6>6:00 - 7:00 pm</h6>
    <p>Fan Veil Routine <br />
    Music: Zi Zi's Journey, Artist: Lindsey Stirling <br />
    Fan Veils are a gorgeous prop and look like they have a life of their own under the stage lights! While we will incorporate belly dance moves in this routine, the focus will be on the prop. Fan veil experience is not a prerequisite. Students in this class have had at least four years of previous dance experience.</p></div>

      <div class="classes--class"><h5>Inter/Advanced Drills & Zills</h5>
    <h6>7:15 - 8:15 pm</h6>
    <p>During drills classes, students will practice level appropriate belly dance moves repeatedly so as to develop muscle strength, muscle memory and coordination skills. Dancers will also practice traveling and finger cymbal skills.</p></div></div>

    <h3>Tuesdays</h3>
    <div class="classes--day"><div class="classes--class"><h5 id="fundamentals">Fundamentals of Bellydance</h5>
    <h6>5:30 - 6:30 pm</h6>
    <p>For students new to belly dance.  This twelve week course introduces dancers to the moves basic to belly dance. Students will learn how to combine moves and travel across the dance floor.</p></div>

    <div class="classes--class"><h5>Advanced Class</h5>
    <h6>6:45 - 7:45 pm</h6>
    <p>Routine: TBA, Music: TBA<br />
    <p>Formally troupe class, this class is now open to anyone interested in an advanced level Hourglass class. Students move forward at different paces, but generally, this class is most suitable for students who have had at least five or six years of previous belly dance experience. Additionally, it is advised that students participating in this class also take the Int/Advanced Drills Class on Mondays.</p></div>

    <div class="classes--class"><h5>Specialty Class</h5>
    <h6>8:00 - 9:00 pm</h6>
    <p>Routine: Veil/Zill Routine, Music: TBA<br />
    This class will involve combining veils and zills for a challenging, but beautiful routine. It is recommended that students have had two or three years of veil and finger cymbal experience.  </p></div></div>

    <h3>Wednesdays</h3>
    <div class="classes--day"><div class="classes--class"><h5>Bellydance Workout Class at Corpus Christi Athletic Club (CCAC)</h5>
    <h6>4:40 - 5:45 pm (Membership at the CCAC is required.)</h6>
    <p>Arabic/Spanish Fusion Routine, Music: Toul 'Omry, Artist: Nawal Al Zoghbi<br />
    This is a fun and upbeat fusion routine.  This class performed Toul 'Omry several years ago and it was so well received that we are bringing it back for next year's recital!</p>
    <p>Finger Cymbal Routine, Music: An Eznak Ya M'allem, Artist: Rola<br />
      Students will learn basic finger cymbal skills for this cheeky number.  Very flirty and upbeat!</p></div>

      <div class="classes--class"><h5>Beginner Class</h5>
      <h6>7:30 - 8:30 pm</h6>
      <p>Drum Solo, Music: Sahra Saidi, Artist: Gamal Gommaa<br />
      An oldie, but a goody! Hourglass performed this at the very first recital ten years ago and it is still a favorite! </p>
      <p>Finger Cymbal Routine, Music: Barido, Artisti: Mayssaam Nahas<br />
      This is a beginner/intermediate level finger cymbal routine that is fun for students and audience members alike!  Students will learn five different finger cymbal patterns.  This is a beg/intermediate level piece, so it is preferable that students have a year of belly dance experience.</p></div></div>

      <h3>Thursdays</h3>
      <div class="classes--day"><div class="classes--class"><h5>Beginner Class</h5>
      <h6>6:00 - 7:00 pm</h6>
      <p>Routine: TBA, Music: TBA</p></div>

      <div class="classes--class"><h5>Intermediate Class</h5>
      <h6>7:15 - 8:15 pm</h6>
      <p>Classic Routine, Music: Mally Wanna Mally, Artist: Leila<br />
        The song Mally Wanna Mally or Tab Wana Mali was first made popular in 2001 by the legendary singer Warda.
      Along with Lebanon's Fayrouz and Egypt's late Oum Kalthoum, Warda was one of the legendary singers of the Arab world, with a voice that has been described as both sweet and powerful.
      The majority of students in this class have had four to ten years of previous belly dance experience. </p>

      <p>American Pop Routine, Music: I'm Bad, Artist: Michael Jackson<br />
      No need to explain here! This is going to be a fun, upbeat, American pop routine!!
      The majority of students in this class have had four to ten years of previous belly dance experience. </p></div></div>

      <h3>Saturdays </h3>
      <div class="classes--day"><div class="classes--class"><h5>Beg/Intermediate Drills & Zills</h5>
      <h6>10:30 - 11:30 am</h6>
      <p>During drills classes, students will practice level appropriate belly dance moves repeatedly so as to develop muscle strength, muscle memory and coordination skills. Dancers will also practice traveling and finger cymbal skills.</p></div></div>
</div>
  <div class="photo-panel">
    <div class="photo-panel-inner" style="background-image: url('{{ site.url }}/images/47390675-rm8_6777.jpg'); width: 20%;">&nbsp;</div>
    <div class="photo-panel-inner" style="background-image: url('{{ site.url }}/images/10613026_758742610838157_2756522611845079067_n.jpg'); width: 30%; background-position-y: 60%;">&nbsp;</div>
    <div class="photo-panel-inner" style="background-image: url('{{ site.url }}/images/072113ss7_4171_395_ancientdanceweb.jpg'); width: 50%; background-position-y: 36%;">&nbsp;</div>
  </div>
  <ul  id="links" class="container">
      <li ><h5><em><a href="{{ site.url }}/media">Browse our</em><br />
        MEDIA</a></h5>
      </li>
      <li ><h5><em><a href="{{ site.url }}/about">Get more</em><br />
        INFO</a></h5>
      </li>
      <li ><h5><em><a href="{{ site.url }}/contact">Contact</em><br />
        Us</a></h5>
      </li>
  </ul>
  {{ content }}
  {% include footer.html %}
  </body>
</html>
