<!DOCTYPE html>
<html>
{% include head.html %}
<body id="js-body">
  {% include header.html %}
  <div class="wrapper" id="class">
  <div class="photo-panel">
    <div class="photo-panel-inner sixty" style="background-image: url('{{ site.url }}/images/10308437_721203447925407_1651337646715879580_n.jpg'); background-position: center 14%">&nbsp;</div>
    <div class="photo-panel-inner forty no-display" style="background-image: url('{{ site.url }}/images/12002953_954084941303922_1396574681810447075_n.jpg'); background-position-y: 10%;">&nbsp;</div>
  </div>
  <div class="tuition container">
    <div class="flex flex-wrap">
      <div class="forty">
        <h1>Come take a class!</h1>
        <h6>Tuition:</h6>
        <h5>Beginner through Advanced Classes</h5>
        <ul>
          <li>1 Class/Wk - $50  ($11 per class as on the average, there are 4.5 classes per month)</li>
          <li>2 Classes/Wk - $90 ($10 per class for 9 classes per month)</li>
          <li>3 Classes/Wk - $120 ($9 per class for 13.5 classes per month)</li>
        </ul>
        <h6>Cash, checks and credit cards accepted.</h6>
      </div>
      <div class="sixty">
        <h5>Taking your first class?</h5>
        <p>Students new to belly dance begin with a class called the "Fundamentals of Bellydance".  During this twelve week course, dancers learn the moves basic to belly dance, how to combine those moves and ways to travel across the dance floor.</p>
        <p>There are two classes to choose from: Tuesdays from 5:30pm to 6:30pm, or Wednesdays from 6:15pm to 7:15pm. The same content is taught in each class, so you can alternate between classes and remain on schedule.  If you do miss a class, it's generally not a problem as there is a lot of review built into every class.</p>
        <p style="font-style:italic;">Sign up for twelve weeks of classes after taking your first class and receive a 20$ discount!</p>
        <p>The fee for the twelve weeks is $100 for students that pay the first day of class. That is a $20 discount from the standard price is $120. If you begin the second week, classes are prorated at $10/class. </p>
      </div>
    </div>
    <div class="centered">
      <h5 style="margin-top: 3em;"><a href="{{ site.url }}/about/">Click here</a> for more information about taking classes.</h5>
</div>
  </div>
  <div class="classes container">
    <h1>Class Schedule</h1>
    <h3>Mondays</h3>
    <div class="classes--day"><div class="classes--class"><h4>Intermediate Class</h4>
    <h6>6:15 - 7:15 pm</h6>
    <p>Music and Routine: TBA<br />
    Music: Zi Zi's Journey, Artist: Lindsey Stirling <br />
    Students in this class have had at least four years of previous dance experience.</p></div>

      <div class="classes--class"><h4>Advanced Class</h4>
    <h6>7:30 - 8:30 pm</h6>
    <p>Music and Routine: TBA</p>
    <p>Formally troupe class, this class is now open to anyone interested in an advanced level Hourglass class. Students move forward at different paces, but generally, this class is most suitable for students who have had at least five or six years of previous belly dance experience. Additionally, it is advised (but not required) that students participating in this class also take the Int/Advanced Drills & Zills Class on Tuesdays - 7:30 to 8:30 pm.</p></div></div>


    <h3>Tuesdays</h3>

    <div class="classes--class"><h4>Intermediate/Advanced Drills</h4>
      <p>Note: Intermediate/Advanced Drills will not begin until October 23, 2018.</p>
    <h6>6:45 - 7:45 pm</h6>
    <p>During drills classes, students will practice level appropriate belly dance moves repeatedly so as to develop muscle strength, muscle memory and coordination skills. Dancers will also practice traveling and finger cymbal skills.  </p></div></div>

    <h3>Wednesdays</h3>
    
      
      <div class="classes--class"><h4>Beginner Class</h4>
      <h6>7:30 - 8:30 pm</h6>
      <p>Music and Routine: TBA<br />
      <p>Prerequisite: Fundamentals of Belly Dance Course</p></div></div>

      <h3>Thursdays</h3>

      <div class="classes--day"><div class="classes--class"><h4>Beginner/Intermediate Drills & Zills</h4>
        <p>Note: Beginner/Intermediate Drills & Zills don't begin until October 25, 2018.</p>
      <h6>5:00 - 6:00 pm</h6>
        <p>During drills classes, students will practice level appropriate belly dance moves repeatedly so as to develop muscle strength, muscle memory and coordination skills. Dancers will also practice traveling and finger cymbal skills.</p></div>

      <div class="classes--day"><div class="classes--class"><h4>Beginner Class</h4>
      <h6>6:00 - 7:00 pm</h6>
      <p>Routine: Drums for Divas, Artist: Unknown<br />
        A great piece for beginners! In this routine, we incorporate many of the basic moves learned in Fundamentals class to create a cute, short drum solo.<br />
    </div>
</div>
</div>
</div>
  <div class="photo-panel">
    <div class="photo-panel-inner thirty" style="background-image: url('{{ site.url }}/images/47390675-rm8_6777.jpg'); background-position: 4%;">&nbsp;</div>
    <div class="photo-panel-inner forty no-display" style="background-image: url('{{ site.url }}/images/hourglass-bellydance-19.jpg'); background-position-y: 45%;">&nbsp;</div>
    <div class="photo-panel-inner thirty no-display" style="background-image: url('{{ site.url }}/images/hourglass-bellydance-26.jpg'); background-position: center 20%">&nbsp;</div>
  </div>
  {{ content }}
  {% include footer.html %}
</div>
  </body>
</html>
