<!DOCTYPE html>
<html>
{% include head.html %}
<body id="js-body">
  {% include header.html %}
  <div class="wrapper" id="home">
  <div id="lucky-woman" class="container centered" style="padding: 2em;">
    <div class="hero">
    </div>
    <div id="lucky-woman-inner">
      <h5>"It's a lucky woman who walks into a belly dance class.  Once a week, she will be able to step out of her everyday world and enter an exotic world of music, movement, color and dance!  She will always have a fun, safe way to exercise, she will always be able to play dress up, and she will always have a great group of friends.  Most importantly, she will discover a sense of self-confidence she never knew before and, as she moves through the many phases of her life, she will forever be aware of her innate beauty, femininity, strength and sensuality."</h5>
    </div>
    <h6 style="margin-top: 2em;">Please scroll down for more information.</p>
    </div>
    <div id="featured" class="container flex flex-wrap">
      <div class="forty">
      <img src="images/hourglass-bellydance-18.jpg">
    </div>
      <div class="fifty">
      <h1>The Next Beginner Series Starts June 6!</h1>
      <h4>Classes are on Tuesdays 5:30 to 6:30 and Wednesdays 6:15 to 7:15 pm</h4>
      <h4>Reserve Your Spot Today!<br />
        Call 361-946-4052</h4>
    </div>
    </div>
  <div id="welcome" class="container flex flex-wrap">
    <div class="fifty">
      <h1>Welcome to Hourglass Bellydance!</h1>
      <h4>Hi! My name is Lorrie Pierce and I am the owner and director of Hourglass Bellydance.  I want your experience at Hourglass to be a positive one, so here is a little information about classes.</h4>
      <a href="{{ site.url }}/classes" class="button">Learn More</a>
    </div>
    <div class="forty">
        <img src="{{ site.url }}/images/042912dsc_7588_1146hourglassjpg.gif" />
    </div>
  </div>
  <div class="photo-panel">
    <div class="photo-panel-inner thirty no-display" style="background-image: url('{{ site.url }}/images/hourglass-bellydance-23.jpg');">&nbsp;</div>
    <div class="photo-panel-inner forty no-display" style="background-image: url('{{ site.url }}/images/hourglass-bellydance-21.jpg'); background-position: 10% 30%;">&nbsp;</div>
    <div class="photo-panel-inner thirty" style="background-image: url('{{ site.url }}/images/hourglass-bellydance-10.jpg');">&nbsp;</div>
  </div>
  {% include footer.html %}
  </div>
  </body>
</html>
